body {
    background-color: #97cfe0;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: #479ce7;
    color: #fdffff;
    border-style: none;
}
input {
    height: 20px;
}
